*{
    box-sizing: border-box;
    font-family: "Poppins", sans-seriff;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #141e30, #243b55);
    margin: 0;
}

.calculator {
    background: #1f3937;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    width: 320px;
}

.display {
    background: #111827;
    color: #fff;
    font-size: 2rem;
    text-align: right;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    overflow-x: auto;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

button {
    padding: 20p;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}

button:hover {
    transform: scale(1.05);
}

.operator {
    background: #2363eb;
    color: white;
}

.equal {
    background: #ef4444;
    color: white;
}

.clear {
    background: #ef4444;
    color: white;
}

.number {
    background: #374151;
    color: white;
}

.decimal {
    background: #6b7280;
    color: white; 
}